<% content_for :page_title, @page.title %>

<div class="space-y-6">
  <%= render "admin/pages/show_partials/page_info" %>
  <%= render "admin/pages/show_partials/content_pods" %>
  <%= render "admin/pages/show_partials/add_pod" %>
</div>