<div class="checkout-container">
  <div class="pb-10 flex items-center flex-col" data-controller="filter-toggle">
    <h2 class="pod-page-title !mb-0">
      Blogs
    </h2>
    <div class="red-accent-pill-large"></div>
  </div>
  <%= render 'blogs/shared/blog_list' %>
</div>
