@import "tailwindcss";
@import "tw-animate-css";
@import "./color_theme.scss";

@import "./inline-icons.css";
@import "./form_utility.scss";
@import "cropperjs/dist/cropper.css";

@import "./sortable.scss";

/* Container settings */
@utility container {
  margin-inline: auto;
  padding-inline: 2rem;
  max-width: 1400px;
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
